* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    background-color: #ebebeb;
    color: #0b090a;
}

input,
button {
    font-family: inherit;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin: 15vh 15vw;
    padding: 2em;
    font-size: 2em;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #0b090a60;
}

.inputs__container {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 350px;
    gap: 0.4em;
}

.inputs__container input {
    border: transparent;
    border-radius: 1em;
    padding: 0.8em;
    background-color: #ebebeb;
}

.inputs__container input:focus {
    outline-color: #48bfe3;
}

.button {
    border: transparent;
    padding: 0.5em;
    border-radius: 0.2em;
    margin-top: 1em;
    width: 40%;
    max-width: 180px;
    cursor: pointer;
    background-color: #48bfe3;
}

.button:active {
    background-color: #3aa1c0;
}

.result__message {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}