* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    background-color: #191d32;
    color: #0b090a;
}

input,
button {
    font-family: inherit;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    border-radius: 1em;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #0b090a60;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1.2em;
    font-size: 1.5em;
}

.inputs__container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 350px;
    gap: 0.4em;
}

.inputs__container input {
    border: transparent;
    border-radius: 1em;
    padding: 0.8em;
    background-color: #ebebeb;
}

.inputs__container input:focus {
    outline-color: #48bfe3;
}

.checkbox__container {
    display: flex;
    justify-content: left;
    gap: 0.4em;
    font-size: 0.5em;
}

.button {
    border: transparent;
    padding: 0.5em;
    border-radius: 1em;
    margin: 1em 0;
    width: 40%;
    max-width: 180px;
    cursor: pointer;
    background-color: #48bfe3;
}

.button:active {
    background-color: #3aa1c0;
}

.success__message {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #70e000;
}